Ex1

In [3]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Ex2

In [6]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

Ex3

In [12]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

Ex4

In [17]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

Ex5

In [20]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

Ex6

In [23]:
mylist = ["apple", "banana", "cherry"]

print(type(mylist))

<class 'list'>

Ex7

In [26]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

Ex8

In [29]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Ex9

In [67]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

Ex10

In [69]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Ex11

In [71]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Ex12

In [73]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Ex13

In [75]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Ex14

In [77]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

Ex15

In [79]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

Ex16

In [81]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Ex17

In [83]:
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse = True)

print(thislist)

[100, 82, 65, 50, 23]

Ex18

In [85]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

Ex19

In [87]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Ex20

In [134]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{'apple', False, True, 'cherry', 'banana'}

Ex21

In [136]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

Ex22

In [138]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'apple', 'cherry', 'banana'}

Ex23

In [140]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Ex24

In [142]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'papaya', 'pineapple', 'mango', 'cherry', 'banana'}

Ex25

In [144]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Ex26

In [146]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

Ex27

In [148]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

Ex28

In [150]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Ex29

In [152]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

Ex30

In [154]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

Ex31

In [156]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

Ex32

In [158]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Ex33

In [160]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Ex34

In [162]:
a = 2
b = 330

print("A") if a > b else print("B")

B

Ex35

In [164]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

Ex36

In [166]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

Ex37

In [168]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Ex38

In [170]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

Ex39

In [172]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

Ex40

In [174]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

Ex41

In [177]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry